*{
 box-sizing: border-box;
}
.cont{
    background-color: rgb(240, 237, 239);
    width: 100%;
    padding: 10px 30px;
    /* padding-bottom:5%; */
    margin-top: 4%;
}
.signup-container{
    padding-top:3%;
    background:white;
    margin: 4% auto;
    width:50%;
    padding-left: 20px;
    padding-bottom:4%;
}
.signup-container .head1{
    font-size: 30px;
    color:rgb(18, 9, 9);
    font-weight: 900;
    text-align: center;
}
.signup-container .head2{
    font-size: 20px;
    color: rgb(19, 1, 1);
    font-weight: 500;
    text-align: center;
    margin-top: 1.5%;
}
.grp .name{
    display: flex;
    /* gap:8px; */
}
.grp{
    margin-top: 5px;
    margin-bottom: 2px;
}
.grp h3{
    margin-bottom: 2px;
}
.grp input{
    width:90%;
    padding: 5px 5px;
     border: 1px solid rgb(212, 208, 208);
}
.grp .check{
    display: flex;
    font-size: 20px;
}
.btnnn Button{
    width:95%;
    margin-left: 10px;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
.btn{
    display: flex;
    gap:10px;
    justify-content: center;
}
.btn .other-btn{
    width:150px;
    height:50px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 3%;
    border: 1px solid rgb(212, 208, 208);
    background-color: #fff;
    cursor: pointer;

}
.user-menu{
    display: flex;
    align-items: center;
    gap:10px;
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media only screen and (max-width:768px){
    .cont{
    background-color: rgb(240, 237, 239);
    width: 100%;
}
.signup-container{
    padding: 3% 4% 4% 4%;
    background:white;
    margin: 4% auto;
    width:90%;
}
.btnnn Button{
    width:95%;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
}