.footer{
   
    width:100%;
}
.f1{
    color:#fff;
    background: rgba(128, 128, 128, 0.87);
    font-size: 38px;
    font-weight:900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding: 2% 3% 1% 5%;
    text-transform:uppercase;
    word-spacing: 10px;
    position: absolute;
    margin-left: 10%;
    margin-top: -7%;
    border-radius: 25px;
    /* animation: move 5s ease-out forwards; */
}
.f1 input{
    border-radius: 30px;
    font-size: 24px;
    width: 100%;
    padding-left: 2%;
}
.f2{
    background-color: #49dde848;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    position: relative;
    z-index: -1;
    color: black;
    
}
.shop{
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 2%;
    /* animation: move 5s ease-out forwards; */
}
.shop2{
    font-size: 18px;
    padding-right: 10%;
    word-spacing: 2px;
    /* animation: move 5s ease-out forwards; */
}
.icons i{
    font-size: 36px;
    border-radius: 50%;
    padding-right: 5%;
    margin-top: 5%;
    /* animation: move 5s ease-out forwards; */
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px; /* equal gap between all columns */
}

.format {
  min-width: 160px;
  text-align: left;
}

.format h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;
  /* animation: move 5s ease-out forwards; */
}

.format ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.format ul li {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 4px;
  /* animation: move 5s ease-out forwards; */
  white-space: nowrap; /* prevents breaking words into new lines */
}

.format ul li:hover {
  text-decoration: underline;
}

/* Mobile adjustments */
@media only screen and (max-width: 768px) {

  .footer-links {
    justify-content: space-between;
    gap: 20px;
  }

  .format {
    flex: 1 1 45%;
    min-width: 140px;
  }

  .format h4 {
    font-size: 16px;
  }

  .format ul li {
    font-size: 14px;
    white-space: normal; /* allow wrapping on small screens */
  }
  .f3{
        display: block;
    }
}

@media only screen and (max-width: 992px) {
  .format {
    margin-bottom: 30px;
  }

  .format h4 {
    font-size: 18px;
  }

  .format ul li {
    font-size: 14px;
    line-height: 1.6;
  }
  .f1 {
    display: none;
  }
  .f3 {
  width: 100%;
  flex-basis: 100%;
}

}

@media only screen and (max-width:1200px){
    .f1 {
    display: none;
  }
    .f2{
        padding-left: 2%;
        padding-top: 2%;
    }
    
}




