
.top1{
    font-size: 5rem;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('/img/bg1.jpg');
    padding:3%;
    width: 100%;
    background-size:cover;
    margin-top:2%;
    padding-bottom: 9%;
    opacity: 0.9;

}
.top1 p{
    text-align: center;
    margin: 4%;
    color: rgb(234, 226, 226);
    font-size: 3.5rem;
     text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
     animation: move 5s ease-out forwards;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    animation: move 3s ease-out forwards;
}

.about{
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.a{
    font-weight: 800;
    text-align: center;
    margin-top: 3%;
}
.a::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #ff6464;
  margin: 10px auto 0;
  border-radius: 2px;
}

.left img {
  width: 100%;
  height: auto;             /* keeps natural aspect ratio */
  max-height: 400px;        /* limit how tall it can grow */
  object-fit: cover;        /* crop instead of stretching */
  border-radius: 20px;      /* optional, looks cleaner */
  display: block;           /* removes inline space */
  margin: auto;             /* center the image */
  animation: move 8s ease-out forwards;
}
.right p{
    font-size: 24px;
    margin-right: 3%;
    line-height:2.7rem;
     animation: move 3s ease-out forwards;
}
.b{
    font-size: 3rem;
    font-weight: 800;
}
.query input{
    width: 50%;
    border:3px solid black;
    border-radius: 15px 0 15px 0;
    margin-top: 2%;
    padding: 2%;
    font-size: 20px;
}
.query textarea{
     width: 50%;
     border:3px solid black;
    border-radius: 30px 0 30px 0;
    margin-top: 2%;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .right p{
    font-size: 16px;
    margin-right: 3%;
    line-height:1.2rem;
    height: 200px; 
    overflow-y: hidden;
}
.b{
    font-size: 1.3rem;
    font-weight: 800;
}
.query input{
    width: 50%;
    border-radius: 15px 0 15px 0;
    margin-top: 2%;
    font-size: 14px;
}

}
@media only screen and (max-width: 768px) {
    .right p {
        font-size: 16px;
        margin-right: 3%;
        line-height: 1.5rem;
        height: 200px;
        overflow-y: scroll;
    }
    .b{
    font-size: 1.5rem;
    font-weight: 800;
}
.query input{
    width: 50%;
    border:1px solid black;
    border-radius: 15px 0 15px 0;
    margin-top: 2%;
    font-size: 14px;
}
}

@keyframes move {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
