.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #f8f0ff;
  padding: 20px;
}
.sidebar .logo {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #555;
}
.sidebar ul li:hover {
  color: #000;
  font-weight: bold;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}

/* Top Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card h1 {
  margin: 10px 0;
}
.card.pink {
  background: linear-gradient(45deg, #ff9a9e, #fbc2eb);
}
.card.blue {
  background: linear-gradient(45deg, #4facfe, #00f2fe);
}
.card.green {
  background: linear-gradient(45deg, #43e97b, #38f9d7);
}

/* Charts */
.charts {
  display: flex;
  gap: 20px;
}
.chart-box {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}