@import "tailwindcss";

/* --- FIX TAILWIND BREAKING PRIMEREACT TABLE --- */

.p-datatable *,
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
    @apply align-middle! p-3! text-left!;
}

.p-datatable-wrapper {
    width: 100% !important;
}
